* {
    margin: 0;
    padding: 0;
    color: black;
}

.header{
	position: relative;
	height: 100%;
	margin: 0 auto;
	padding: 0 auto;
	z-index: 1;	

}
#wrapper{
	min-height: 1500px;
	width: 100%;
	min-width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	z-index: 2;
	background-color: #80F1FF;
}

.under_list{
	position: absolute;
	z-index: 3;
	width: 500px;
	height: 80%;
	background: white;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    color: black;
    margin-top: 50px;
}

p{	
	font-size: 25px;
	color: grey;
	margin: 30px 0  0 40px;
}

.cover{
	background-color: black;
	opacity: 0.6;
	height: 100%;
	width: 100%;
	min-width: 600px;
    position: absolute;
    z-index: 4;
}

.form{
	position: absolute;
	z-index: 5;
	margin-top: 70%;
	margin-left: 32%;
	background: white;
	height: 250px;
	width: 450px;
	border-radius: 5px;
	font-size: 25px;
	color: grey;
	text-align: center;
	
}

.footnote{
	background-color: black;
	opacity: 0.6;
	height: 35px;
	width: 80px;
    position: absolute;
    z-index: 100;
    margin-top: 80%;
	margin-left: 40%;
	color: #80F1FF;
	text-align: center;
	font-family: Comic Sans MS, cursive;
	line-height: 35px;
}

.shad{
	margin-top: 65%;
	margin-left: 22%;
}
.size{
	margin-top: 80%;
	margin-left: 20%;
}
.title{
	margin-top: 62%;
	margin-left: 47%;
}
.but{
	margin-top: 93%;
	margin-left: 55%;
	width: 140px;
}
.close{
	margin-top: 70%;
	margin-left: 72%;
}

.line{
	border-width: 2px; 
    border-style: dashed; 
    border-color: #80F1FF;
    position: absolute;
    z-index: 99;
}

.l1{
	margin-top: 76%;
	margin-left: 27.5%;
	height: 130px;
	width: 32px;
	border-right-style: none;
}

.l2{
	margin-top: 64.8%;
	margin-left: 50%;
	height: 85px;
	width: 32px;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
}

.l3{
	margin-top: 71%;
	margin-left: 66.5%;
	height: 5px;
	width: 70px;
	border-right-style: none;
	border-top-style: none;
	border-left-style: none;
}

.l4{
	margin-top: 88%;
	margin-left: 60.5%;
	height: 65px;
	width: 32px;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: none;
}
