.main_text{
	font-size: 25px;
	font-weight: 400;
	line-height: 80px;
	}

.bg {
	background: url(../images/bg.png);
	background-position: center; 
  background-repeat: no-repeat; 
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.footer td{
	color: #858383;
	font-size: 13px;
	font-weight: 400;
	line-height: 25px;
	margin-left: 20px;
	text-decoration: underline;
}

.t tr:not(:first-child){
	padding-left: 34px; 
	padding-right: 46px;
}
