@font-face{
font-family: 'Gabriela';
src: url('../fonts/Gabriela-Bold.ttf');
src: url('../fonts/Gabriela-Bold.eot?iefix') format('otf');
src: url('../fonts/Gabriela.eot'); /* IE9 Compat Modes */
src: url('../fonts/Gabriela.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/Gabriela.woff') format('woff'), /* Modern Browsers */
url('../fonts/Gabriela.ttf') format('truetype'), /* Safari, Android, iOS */
url('../fonts/Gabriela.svg#svgFontName') format('svg'); /* Legacy iOS */
font-weight: normal;

font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font: 14px 'Verdana';
}

.header{
	height: 66px;
	background: #fe470f;
}

#wrapper{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#logo{
	float: left;
	margin-left: 130px;
	margin-top: 3px;
	color: #000000;
}

.more{
	color: #000000;
	font-family: Gabriela;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: underline;
	margin-left: 10px;
}

#nav{
	height:66px;
	color: #ffffff;
	font-family: Gabriela;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
}

ol{
    display: none;
    margin-top: 5px;
    margin-left: -22px;
    position: absolute;
    background-color: #333333;
	text-align: left;
}

ol:nth-child(2) {
	width: 230px;
}


.menu{
    float: right;
    margin-right: 15%;
    position: relative;
    font-size: 21px;
    font-weight: bold;
	text-transform: uppercase;
}

.menu li {
    float: left;
    list-style: none;
    padding: 30px 22px 19px 22px;
    text-transform: uppercase;
}

.menu li:hover{
    background-color: #333333;
}

.menu li:hover>ol{
    display: block;
}

.menu ol>li:hover{
    background-color: #808080;
}

.menu ol>li{
    float: none;
    padding: 9px 22px 9px;
    list-style: decimal inside;
    color: #fff;
    text-transform: capitalize;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
}

.clear:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
}


.content{
	vertical-align:middle; 
	text-align: center;
	box-shadow:0 0 0 0;
	margin-left:22%;
	margin-right:22%;
}

h1{
	color: #fe470f;
	font-family: Gabriela;
	font-size: 41px;
	font-weight: bold;
	line-height: 32px;
	margin-top: 85px;
}

.column{
	padding-top: 70px;
	width: 900px;
	
}

.col{
	height:200px;
	display:inline-block;
	vertical-align: middle;
	color: #333333;
	font-family: Gabriela;
	font-size: 21px;
	font-weight: bold;
	line-height: 25px;
	width: calc(25% - 20px);
	float: left;	
	}
	
.col:nth-child(2){
	margin-left: 40px;
	margin-right: 40px;
	
}
	
.col p{
	margin-top: 10px;
}
button{
	width: 176px;
	height: 50px;
	background-color: #fe470f;
	border: none;
	color: #ffffff;
	font-family: Gabriela;
	font-size: 21px;
	font-weight: bold;
	line-height: 32px;
	margin-top: 20px;
}

button:hover {
    background-color: #333333;
	border: solid black;
	box-shadow: 0 0 0 2px white, 0 0 0 4px red;
}

#logo a:hover{
	color: white;
}
	
.text {
	width: 740px;
	margin-top: 70px;
	position: relative;
	float:left;
	height: 300px;
	color: #333333;
	font-family: Gabriela;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-left:20%;
	margin-right:20%;

}	
.left, .right{
	width: 46%;
	text-align: justify;
	float: left;
	top: 50px;

	}

.left{
	margin-right: 17px;
	padding-left: 3%;
}


.footer{
	background-color: #fe470f;
	min-height: 50px;
	position: relative;
	float: left;
	width: 100%;
}

.f_cont{
	color: #ffffff;
	font-family: Gabriela;
	font-size: 18px;
	line-height: 32px;
	text-align: left;
	padding-left: 12%;
	}

span{
	font-size: 15px;
	font-style: italic;
	padding-left: 20%;
}
/*
f_cont:after{
	content:'';
	display: block;
	clear: both;
}
*/
.arrow{
	position: fixed;
	right: 210px;
	bottom: 100px;
	z-index: 1; 
}


@media screen and (min-width: 320px) and (max-width: 460px){ 

	/*.container {
		width: 100%; 
		text-align: center;
		}*/
	header{
		margin: 0;
		padding: 0;
	}	
		
		
	.more{
		display: none;
	}
	
	#logo{
		margin-left: 4%;
		margin-top: 3%;
		color: #000000;
		}
		
	.cube{
		width: 46px;
		height: 40px;
		}	
	
	ul {
		margin-right: 5%;
		}
		
	.ins{
		margin-left: 0px;
		}
			
	.column{
		width:100%;
		margin: 0;
		padding: 0;	
		margin-top: 15%;		
		}
		
	.col{
		width: calc(100% - 2px);
		float: left;
		margin-bottom: 60px;
		padding: 0;
		display: block;		
	}
	
	.col:nth-child(2){
		margin-left: 0;
		margin-right: 0;
	}
	
	.text{
		width: 100%;
		min-width: 200px;
		margin: 0;
		padding: 0;
		margin-top: 3%;
		height: 200px;
		margin-bottom:5%;
	}
	
	.left{
		width: 100%;
		float: left;
		text-align: center;
	}
	
	.left p{
		width: 80%;
		margin-right: 10%;
		margin-left:5%;
		text-align: justify;
		display:inline-block;
	}
	
	.right{
		display: none;
	}
	
	.f_cont{
		padding-left: 3%;
		}
		
	.f_cont p{
		float:left;

		}
	
	span{
		float: right;
		padding-right: 3%;
		}
	
	.arrow{
		display: none;
			}
	
 }


