@font-face{
font-family: 'Gabriela';
src: url('../fonts/Gabriela-Bold.ttf');
src: url('../fonts/Gabriela-Bold.eot?iefix') format('otf');
src: url('../fonts/Gabriela.eot'); /* IE9 Compat Modes */
src: url('../fonts/Gabriela.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('../fonts/Gabriela.woff') format('woff'), /* Modern Browsers */
url('../fonts/Gabriela.ttf') format('truetype'), /* Safari, Android, iOS */
url('../fonts/Gabriela.svg#svgFontName') format('svg'); /* Legacy iOS */
font-weight: normal;

font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font: 14px 'Verdana';
}

.header{
	height: 66px;
	background: #fe470f;
}

#wrapper{
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#logo{
	float: left;
	margin-left: 130px;
	margin-top: 3px;
	color: #000000;
}

.more{
	color: #000000;
	font-family: Gabriela;
	font-size: 21px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: underline;
	margin-left: 10px;
}

#nav{
	height:66px;
}

ul{
    display: block;
    margin: 0;
	margin-right: 122px;
    padding: 0;
    list-style: none;
	font-family: Gabriela;
	font-size: 21px;
	font-weight: bold;
	
}
.submenu {
    display: none;
    position: absolute;
    width: 210px;
    top: 66px;
    margin-left: 0;
 	background-color: #333333;
	color: white;
}

ul.menu > li {
    float: right;
    position: relative;
	top: 0;
	right: 0;
	width: 106px;
	
}

ul.menu > li > a:hover {
    background-color: #333333;
	height:66px;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}


ul.menu li:first-child {
	width: 130px;
}
	

ul.menu > li > a {
    display: block;
    padding: 15px;
    color: white;
    background-color: #fe470f;
    text-decoration: none;
}

ol.submenu li {
    display: block;
	vertical-align: top;
	text-align: left;
}

.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.submenu > li > a:hover {
    text-decoration: underline;
	color: #F08080;
}

/*Проверка применения стиля зеленой рамкой. Нумерация почему то слетает :(((((((*/
.submenu > li:hover{
    list-style-type: decimal;
	border: solid green;
}

.menu > li:hover > ol{
    display: block;
	
} 


.content{
	vertical-align:middle; 
	text-align: center;
	box-shadow:0 0 0 0;
	margin-left:22%;
	margin-right:22%;
}

h1{
	color: #fe470f;
	font-family: Gabriela;
	font-size: 41px;
	font-weight: bold;
	line-height: 32px;
	margin-top: 85px;
}

.column{
	padding-top: 70px;
	width: 900px;
	
}

.col{
	height:200px;
	display:inline-block;
	vertical-align: middle;
	color: #333333;
	font-family: Gabriela;
	font-size: 21px;
	font-weight: bold;
	line-height: 25px;
	width: calc(25% - 20px);
	float: left;	
	}
	
.col:nth-child(2){
	margin-left: 40px;
	margin-right: 40px;
	
}
	
.col p{
	margin-top: 10px;
}
button{
	width: 176px;
	height: 50px;
	background-color: #fe470f;
	border: none;
	color: #ffffff;
	font-family: Gabriela;
	font-size: 21px;
	font-weight: bold;
	line-height: 32px;
	margin-top: 20px;
}

button:hover {
    background-color: #333333;
	border: solid black;
	box-shadow: 0 0 0 2px white, 0 0 0 4px red;
}

#logo a:hover{
	color: white;
}
	
.text {
	width: 740px;
	margin-top: 70px;
	position: relative;
	float:left;
	height: 300px;
	color: #333333;
	font-family: Gabriela;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-left:20%;
	margin-right:20%;

}	
.left, .right{
	width: 46%;
	text-align: justify;
	float: left;
	top: 50px;

	}

.left{
	margin-right: 17px;
	padding-left: 3%;
}


.footer{
	background-color: #fe470f;
	height: 50px;
	position: relative;
	float: left;
	width: 100%;
}

.f_cont{
	color: #ffffff;
	font-family: Gabriela;
	font-size: 18px;
	line-height: 32px;
	text-align: left;
	padding-left: 12%;
	}

span{
	font-size: 15px;
	font-style: italic;
	padding-left: 20%;
}
/*
f_cont:after{
	content:'';
	display: block;
	clear: both;
}
*/
.arrow{
	position: fixed;
	right: 210px;
	bottom: 100px;
	z-index: 1; 
}



@media screen and (min-width: 320px) and (max-width: 460px){ 

	
	header{
		margin: 0;
		padding: 0;
	}	
		
		
	.more{
		display: none;
	}
	
	#logo{
		margin-left: 4%;
		margin-top: 3%;
		color: #000000;
		}
		
	.cube{
		width: 46px;
		height: 40px;
		}	
	
	ul {
		margin-right: 5%;
		}
		
	.ins{
		margin-left: 0px;
		
		}

		
	.column{
		width:100%;
		margin: 0;
		padding: 0;	
		margin-top: 15%;		
		}
		
	.col{
		width: calc(100% - 2px);
		float: left;
		margin-bottom: 30px;
		padding: 0;
		display: block;		
	}
	
	.col:nth-child(2){
		margin-left: 0;
		margin-right: 0;
	}
	
	.text{
		width: 100%;
		min-width: 200px;
		margin: 0;
		padding: 0;
		margin-top: 6%;
		margin-bottom: 10%px;
	}
	
	.left{
		width: 100%;
		float: left;
		text-align: center;
	}
	
	.left p{
		width: 80%;
		margin-right: 10%;
		margin-left:5%;
		text-align: justify;
		display:inline-block;
	}
	
	.right{
		display: none;
	}
	
	footer{
		margin-top: 10%;
	}
	.f_cont{
		position: relative;
		float: left;
		margin-bottom: 0;
		padding-bottom:0;}

	.f_cont p{
		position: relative;
		float: left;
		margin-bottom: 0;
		padding-bottom:0;
	}
		
	span{
		position: relative;
		float: right;
		margin-bottom: 0;
		padding-bottom:0;
	}
	.arrow{
		display: none;
	}
				
 }


