* {
    margin: 0;
    padding: 0;
  }

#wrapper{
	position: relative;
	z-index: 0;
	height: 900px;
	opacity: 1;
}

.forma{
	position: absolute;
	z-index: 5;
	background: #86AFB2;
	opacity: 0.4;
	margin-top: 5%;
	margin-left: 40%;
	height: 350px;
	width: 300px;
	color: white;
	text-align: left;
	padding-top: 230px;
}

hr{
	margin: 0 20px;
}

p{
	line-height: 50px;
	margin-left: 20px;
	font-size: 15px;
	font-family: Century Gothic, sans‑serif;
}

span{
	padding-left: 20px;
}

	
.img{
	position: absolute;
	z-index: 100;
	margin-top: -65%;
	margin-left: 46%;
	height: 40px;
	width: 50px;
	text-align: center;
}

button{
	
	border-radius: 25px;
	background: #FE1C63;
	width: 250px;
	height: 30px;
	position: absolute;
	z-index: 100;
	margin-top: -34%;
	margin-left: 42%;
	text-align: center;
	border-style: none;
	color: white;
	font-family: Century Gothic, sans‑serif;
}

.last_bold{
	font-weight: bold;
}

.bottom{
	margin-top: -32%;
	margin-left: 41%;
	color: white;
}
