* {
    margin: 0;
    padding: 0;
}

.header{
	position: relative;
	margin: 0 auto;
	padding: 0 auto;
	z-index: 1;
	height: 100%;
}

#wrapper{
	height: 100%;
	width: 100%;
	min-width: 600px;
	min-height: 600px;
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	margin-right: -50%;
   	transform: translate(-50%, -0%);
	z-index: 2;
	background: #413F3F;
	clear: both;
}

#text_below{
	font-size: 70px;
	font-family: Impact;
	transform: rotate(-15deg);
	z-index: 3;
	font-color: solid black;
	margin-top: 10%;
	text-align: center;
}

.window{
	border: solid #D5CDCD 15px;
	border-radius: 10px;
	height: 150px;
	width: 470px;
	transform: rotate(-15deg);
	position: absolute;
	z-index: 100;
	background: white;
	margin-top: -1%;
	margin-left: 30%;
	padding: 0 30px 0;	
}

img{
	width: 100px;
	margin-top: 30px;
	margin-right: 0px;
}

h3{
	text-transform: uppercase;
	font-style: bold;
}

.t{
	padding-top: 30px;
}
